table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-collapse: collapse;
}

td,
tr {
  border: 1px solid black;
  width: 100px;
}

.hidden-column {
  border-top-style: hidden;
  border-right-style: hidden;
}

.column {
  background-color: rgb(185, 185, 185);
}
